PORT=3000
DATABASE_URL="mysql://root:@localhost:3306/wspeedrun_db"
JWT_SECRET="Super_Secret_SoftArch"

AUTH_SERVICE_URL=http://localhost:3000
GAME_SERVICE_URL=http://localhost:3001
RUN_SERVICE_URL=http://localhost:3002
